[Unit]
Description=SeaweedFS Master
After=network-online.target

[Service]
EnvironmentFile=/etc/seaweedfs/master.cfg
ExecStart=/usr/local/bin/weed master -disableHttp -mdir=${WEED_MASTER_DIRECTORY} -peers=${WEED_MASTER_PEERS} -ip=${WEED_MASTER_IP} -volumeSizeLimitMB=${WEED_MASTER_VOLUMESIZELIMIT}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target