---
# Install SeaweedFS
- name: Download SeaweedFS
  ansible.builtin.get_url:
    url: https://github.com/seaweedfs/seaweedfs/releases/download/3.38/linux_amd64.tar.gz
    dest: /usr/local/src/seaweedfs_3.38_linux.tar.gz
    owner: root
    group: root
    mode: 0755

- name: Create unpack directory for seaweedfs
  ansible.builtin.file:
    path: /usr/local/src/seaweedfs
    owner: root
    group: root
    mode: 0755
    state: directory

- name: Unpack SeaweedFS
  ansible.builtin.unarchive:
    src: /usr/local/src/seaweedfs_3.38_linux.tar.gz
    dest: /usr/local/bin
    remote_src: true

- name: Ensure 'weed' executable has execute bit
  ansible.builtin.file:
    path: /usr/local/bin/weed
    mode: 0755
    owner: root
    group: root
    state: file

- name: Ensure the SeaweedFS config directory exists
  ansible.builtin.file:
    path: /etc/seaweedfs
    mode: 0755
    owner: root
    group: root
    state: directory

- name: Install security config for SeaweedFS
  ansible.builtin.template:
    src: security.toml.j2
    dest: /etc/seaweedfs/security.toml
    owner: root
    group: root
    mode: 0644
