---
# A persistent setup key fpr NetBird which can be used by this playbook to register machines.
netbird_setup_key: NOT-A-REAL-KEY
# Set each of these to random values. See https://grc.com/passwords.htm "63 random alpha-numeric characters (a-z, A-Z, 0-9)" for good example values.
seaweedfs_jwt_signing: these-should-really
seaweedfs_filer_signing: all-be-random
seaweedfs_filer_signing_read: values-you-set
