WEED_VOLUME_MASTER_SERVER={% for node in groups.seaweedfs_masters | intersect(groups[seaweedfs_region]) %}{{ hostvars[node]["ansible_ens18"]["ipv4"]["address"] }}:9333{% if not loop.last %},{% endif %}{% endfor %}

WEED_VOLUME_IP={{ ansible_ens18.ipv4.address }}

WEED_VOLUME_DISKS="/seaweed-brick/"