---
- name: Install systemd file for SeaweedFS Master
  ansible.builtin.template:
    src: seaweedfs-master.service
    dest: /etc/systemd/system/seaweedfs-master.service
    owner: root
    group: root
    mode: 0755

- name: Install config file for SeaweedFS Master
  ansible.builtin.template:
    src: seaweedfs-master.cfg.j2
    dest: /etc/seaweedfs/master.cfg
    owner: root
    group: root
    mode: 0755

- name: Ensure data directory for SeaweedFS master exists
  ansible.builtin.file:
    path: /var/lib/seaweedfs
    mode: 0755
    owner: root
    group: root
    state: directory
  register: seaweedfs_dir

- name: Start and enable SeaweedFS master
  ansible.builtin.systemd:
    name: seaweedfs-master
    enabled: true
    state: started
    daemon_reload: true
